<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST">
        <p>Enter your name:</p>
        <input type="text" name="username" placeholder="admin" required>
        <br><br>
        <input type="password" name="password" placeholder="xhsvcus84">
        <br><br>
        <button type="submit">Submit</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
