<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Shop Data</title>
</head>
<body>
  <h2>Items</h2>

  <% if (typeof items !== 'undefined' && items.length > 0) { %>
    <% items.forEach(item => { %>
      <div>
        <h3><%= item.name %></h3>
        <p><%= item.desc %></p>
        <p>₹ <%= item.price %></p>
        <hr/>
      </div>
    <% }) %>
  <% } else { %>
    <h3>No items available.</h3>
  <% } %>

</body>
</html>
